.index {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-img {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            max-width: 100%;
        }
    }

    &-text {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2.5rem 0;

        @include media-breakpoint-up(lg) {
            padding-top: 4rem;
            text-align-last: left;
            flex-direction: row;
            margin: 0;
        }

        .text {

            &-big {
                line-height: 1;
                text-transform: uppercase;
                @include font-size(130px);
                font-weight: 500;
                margin-right: 1.5rem;
                color: #D3EDFF;
            }

            &-normal {
                font-size: 35px;
                letter-spacing: 2px;
                line-height: 1;

                @include media-breakpoint-up(lg) {
                    margin-top: 28px;
                }
            }
        }
    }

    &-1 {
        background: linear-gradient(122.26deg, #ffff 1.4%, #ffff 53.27%, #ffff 100%, rgba(195, 195, 196, 0.00520833) 100%);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    &-2 {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        .index-text {
            color: #525F65;

            .text {
                &-big {
                    color: #173D7A;
                }
            }
        }
    }

    main {
        height: 100%;
        display: flex;

        @include media-breakpoint-up(lg) {
            align-items: center;
        }
    }
}
