/* You can add global styles to this file, and also import other style files */
// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/scss/bootstrap.scss";

@import "variables";
@import "fonts";
@import "header";
@import "index";
@import "footer";

main {
    padding-top: 66px;
}
.box-card {
  background: $background_color_2;
  border: 1px solid $background_color_3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  margin-bottom: 35px;

  //override
  min-height: 1%;

  &.gray {
    background: $background_color_4;
    border: 0px;
  }
}
.box-form-infomation {
  .control-label {
    font-size: 15px;
    line-height: 15px;
    font-family: $font_family_2;
    color: $color_3;
  }
  .box-input {
    margin-bottom: 30px;
    position: relative;
    .form-control {
      height: 35px;
      border: 1px solid #bbbbbb;
      border-radius: 5px;
      color: $color_3;
      box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      -moz-box-shadow: none;
      width: 100%;
    }
  }
  .form-group {
    width: 100%;
    .box-input {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .form-input-gov {
    .box-input {
      margin-bottom: 15px;
      margin-bottom: 15px;
    }
  }
}
.form-group {
  label {
    font-family: $font_3;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #787878;
    margin-bottom: 3px;

    &.fix-width {
      width: 200px;
    }

    span.required {
      color: red;
    }
  }

  &.no-margin {
    margin-bottom: unset;
  }
}

.form-control {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: $font_3;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #787878;

  &:disabled,
  &[readonly] {
    background: #f2f2f2;
  }

  &::-webkit-input-placeholder {
    /* Edge */
    color: #b0b0b0;
    text-align: center;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer */
    color: #b0b0b0;
    text-align: center;
  }
  &::placeholder {
    color: #b0b0b0;
    text-align: center;
  }

  /* Override */
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
}

.btn.btn-primary-new {
  position: relative;
  min-width: 160px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: $background_color_11;
  border: none;
  border-radius: 10px;
  font-family: $font_3;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: $color_12;
  letter-spacing: 1px;
  &:hover {
    background-color: #3c9636;
  }
  &:active {
    background-color: #327b2c;
  }
  > i.right {
    position: absolute;
    right: 13%;
    top: 12px;
  }
  > i.left {
    position: absolute;
    left: 13%;
    top: 12px;
  }
}
