<div class="index index-1">
  <header class="header-1">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="order-lg-3">
          <button class="btn btn-outline-primary d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse order-lg-2" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="box-card">
        <div class="form-group row">
          <div class="col-12">
            <div class="row heading border-bottom">
              <div class="col-12">
                <h3 class="text-green">BMI</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" [formGroup]="inputForm">
          <div class="set-boxviewdata content">
            <div class="boxviewdata-in">
              <div class="row">
                <div class="form-group col-3">
                  <div class="box-viewdata request">
                    <label>Enter Your Name :</label>
                  </div>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" placeholder="" [formControlName]="'name'">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <div class="box-viewdata request">
                    <label>Weight :</label>
                  </div>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" placeholder="" number-only-field [formControlName]="'weight'" (change)="calculateBMI()">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <div class="box-viewdata request">
                    <label>Height :</label>
                  </div>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" placeholder="" number-only-field [formControlName]="'height'" (change)="calculateBMI()">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-2">
                  <div class="box-viewdata request">
                    <label>your BMI :</label>
                  </div>
                </div>
                <div class="col-10">
                  <p>{{bmi}}</p>
                </div>
              </div>
              <div class=" row justify-content-center">
                <button type="button" class="btn btn-primary-new" (click)="onSubmitData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-card">
        <div class="set-boxviewdata content">
          <div class="boxviewdata-in">
            <nz-table #basicTable1 nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataTable"
              [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData(true)" [nzNoResult]="noResult"
              [nzShowTotal]="tableTotal">
              <thead>
                <tr>
                  <th class="text-center" nzWidth="20%"><span>Name</span></th>
                  <th class="text-center" nzWidth="15%"><span>Weight</span></th>
                  <th class="text-center" nzWidth="15%"><span>Height</span></th>
                  <th class="text-center" nzWidth="15%"><span>BMI</span></th>
                  <th class="text-center" nzWidth="6%"></th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-data [ngForOf]="dataTable" let-i="index">
                  <tr [class.tr-parent]="data.seq%2">
                    <td class="text-center">{{data.name}}</td>
                    <td class="text-center">{{data.weight }}</td>
                    <td class="text-center">{{data.height }}</td>
                    <td class="text-center" [ngStyle]="{'color':checkBmi(data.bmi)}">
                      {{data.bmi}}</td>
                    <td class="text-center box-condition">
                      <div class="">
                        <a title="แก้ไข" (click)="onClickEdit(data)" class=""><img src="assets/images/icon-edit-gray.svg"
                            alt=""></a>
                        <a title="ลบ" (click)="onDelete(data.seq)" class="delete-condition"><img
                            src="assets/images/icon-remove-gray.svg" alt=""></a>
                      </div>
                    </td>
                  </tr>
                </ng-template>

                <ng-template #tableTotal let-range="range" let-total>
                  แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total}} รายการ
                </ng-template>

                <ng-template #noResult>
                  <!-- <nz-empty [nzNotFoundContent]="contentTpl">
                      <ng-template #contentTpl>
                        <p>ไม่พบข้อมู</p>
                      </ng-template>
                    </nz-empty> -->
                </ng-template>

              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container text-center">
      © Copyright © 2020  All Rights Reserved.
    </div>
  </footer>
</div>


<!-- Alert Modal -->
<div class="modal fade modal-tabs modal-stack" bsModal #alertModal="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content py-3 clear-bg-color">
      <div class="form-group row">
        <div class="col-12 content text-center">
          <h4 class="modal-title pull-left">
            {{ msgMessage }}
          </h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary-new mx-2"
          (click)="alertModal.hide(); callbackModal()">ตกลง</button>
      </div>
    </div>
  </div>
</div>
